* {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif; }

header {
  background-image: url("../images/bgheader.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
  padding-bottom: 30px;
  color: #fff; }
  header nav .col-lg-2 {
    padding: 0;
    padding-top: 38px; }
  header nav .col-lg-10 {
    padding: 0; }
    header nav .col-lg-10 ul {
      padding: 0;
      margin: 45px 0 0 260px;
      font-size: 13px;
      text-transform: uppercase; }
      header nav .col-lg-10 ul li {
        display: inline-block;
        margin-left: 59px;
        font-weight: 700;
        opacity: 0.75; }
        header nav .col-lg-10 ul li a {
          text-decoration: none;
          color: white; }
          header nav .col-lg-10 ul li a:hover {
            color: #ddd; }
  header .col-lg-12 h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 170px;
    text-transform: uppercase; }
  header .col-lg-12 p {
    text-align: center;
    margin-top: 41px;
    font-size: 22px; }
  header .col-lg-12 div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    header .col-lg-12 div button {
      background-color: #e84545;
      width: 200px;
      height: 46px;
      margin-top: 50px;
      font-size: 13px;
      font-weight: 700;
      line-height: 21px;
      border: none; }

.features {
  min-height: 800px;
  max-height: 1200px;
  padding-bottom: 50px; }
  .features .row .col-lg-4 {
    padding: 0;
    text-align: center; }
    .features .row .col-lg-4 img {
      margin-top: 121px; }
    .features .row .col-lg-4 h4 {
      font-size: 14px;
      font-weight: 700;
      margin-top: 34px;
      color: #2d3033;
      text-transform: uppercase; }
    .features .row .col-lg-4 p {
      margin-top: 25px;
      margin-right: 45px;
      margin-left: 45px;
      font-size: 14px;
      color: #6c7279; }
  .features .row:last-child img {
    margin-top: 74px; }

.gallery .row {
  margin: 0; }
  .gallery .row .col-lg-3 {
    padding: 0;
    position: relative; }
    .gallery .row .col-lg-3 div {
      position: absolute;
      width: 100%;
      height: 40vh;
      z-index: 2;
      opacity: 0;
      color: #fff;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      transition: all 0.5s; }
      .gallery .row .col-lg-3 div:hover {
        background-color: #e84545;
        opacity: 0.9; }
      .gallery .row .col-lg-3 div h5 {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase; }
      .gallery .row .col-lg-3 div p {
        font-size: 14px; }
    .gallery .row .col-lg-3 a {
      display: block;
      width: 100%;
      height: 40vh; }
      .gallery .row .col-lg-3 a img {
        border: 1px white solid;
        width: 100%;
        height: 40vh;
        z-index: 1; }

.team .container {
  margin-top: 101px; }
  .team .container .col-lg-3 h4 {
    font-size: 22px;
    color: #2d3033;
    font-weight: 700;
    margin-top: 30px; }
  .team .container .col-lg-3 h5 {
    color: #e84545;
    font-size: 13px; }
  .team .container .col-lg-3 p {
    margin-top: 29px;
    color: #6c7279;
    font-size: 14px; }
  .team .container .col-lg-3 a {
    float: left; }
    .team .container .col-lg-3 a:hover {
      opacity: 0.8; }
    .team .container .col-lg-3 a div {
      border: 1px #e8ecee solid;
      width: 39px;
      height: 39px;
      margin-right: 4px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }

.carousel .row {
  margin: 0; }
  .carousel .row .col-lg-6 {
    margin-top: 101px;
    padding: 0; }
    .carousel .row .col-lg-6 img {
      width: 100%;
      height: 60vh; }
  .carousel .row .col-lg-6 {
    background-color: #53354a;
    margin-top: 101px;
    height: 60vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .carousel .row .col-lg-6 p {
      font-size: 26px;
      color: #fff;
      font-family: 'Cardo', serif;
      margin-top: -30px;
      margin-left: -170px;
      line-height: 32px; }
    .carousel .row .col-lg-6 h6 {
      color: #fff;
      margin-left: -240px;
      font-weight: 700;
      margin-top: 10px;
      font-size: 13px;
      text-transform: uppercase; }

.download .row {
  margin: 0; }
  .download .row .col-lg-12 {
    margin-top: 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .download .row .col-lg-12 h3 {
      font-weight: 300;
      color: #2d3033; }
    .download .row .col-lg-12 p {
      font-weight: 700;
      text-transform: uppercase;
      color: #2d3033; }
    .download .row .col-lg-12 button {
      margin-top: 40px;
      margin-bottom: 100px;
      width: 280px;
      height: 46px;
      border: none;
      background-color: #e84545;
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase; }

.share {
  background-color: #3a3e64;
  text-align: center; }
  .share .container {
    color: #fff; }
    .share .container .row {
      padding-top: 70px;
      padding-bottom: 68px; }
      .share .container .row .col-lg-4 {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .share .container .row .col-lg-4 h6 {
          font-weight: 700;
          text-transform: uppercase; }
        .share .container .row .col-lg-4 p {
          opacity: 0.5; }
        .share .container .row .col-lg-4 div {
          margin-top: 5px; }
          .share .container .row .col-lg-4 div a {
            float: left; }
            .share .container .row .col-lg-4 div a:hover {
              opacity: 0.9; }
            .share .container .row .col-lg-4 div a div {
              border: 2px #fff solid;
              width: 39px;
              height: 39px;
              margin-right: 7px;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: center;
              -moz-justify-content: center;
              -ms-justify-content: center;
              justify-content: center;
              -ms-flex-pack: center;
              -webkit-align-items: center;
              -moz-align-items: center;
              -ms-align-items: center;
              align-items: center; }

footer {
  color: #fff;
  background-color: #313454; }
  footer .row {
    margin: 0; }
    footer .row .col-lg-12 {
      text-align: center; }
      footer .row .col-lg-12 p {
        font-size: 14px;
        color: #808080;
        margin: 29px 0; }
        footer .row .col-lg-12 p .hearth {
          color: #e84545; }
        footer .row .col-lg-12 p span {
          color: #fff; }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  header nav .col-md-12 {
    text-align: center; }
    header nav .col-md-12 ul {
      margin-left: 0px; }
  .carousel .row:last-child p {
    margin-left: 0; }
  .carousel .row:last-child h6 {
    margin-left: 0; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  header .row .col-sm-12 {
    text-align: center; }
    header .row .col-sm-12 ul {
      margin-left: 0px; }
  .features {
    max-height: 3000px;
    margin-bottom: 30px; }
    .features .row .col-sm-12 p {
      width: 250px;
      margin: auto; }
  .gallery .col-md-3 {
    padding: 20px; }
  .team .col-sm-6 {
    margin-bottom: 40px;
    text-align: center; }
    .team .col-sm-6 p {
      width: 270px;
      margin: 0 auto 20px auto; }
    .team .col-sm-6 img {
      margin: auto; }
    .team .col-sm-6 a {
      margin-left: 55px; }
  .carousel {
    margin-top: 30px; }
    .carousel .row .col-sm-12 {
      margin-top: 0;
      height: 70vh; }
      .carousel .row .col-sm-12 img {
        height: 70vh; } }

@media screen and (min-width: 480px) and (max-width: 768px) {
  header {
    padding-bottom: 170px; }
    header nav .col-xs-12 {
      text-align: center; }
      header nav .col-xs-12 ul {
        margin-left: 0;
        margin-bottom: 0px; }
        header nav .col-xs-12 ul li {
          display: block;
          width: 100%;
          margin-left: 0;
          padding: 20px;
          cursor: pointer; }
          header nav .col-xs-12 ul li:hover {
            background-color: rgba(0, 0, 0, 0.1); }
    header .container .col-xs-12 h1 {
      font-size: 24px; }
    header .container .col-xs-12 p {
      font-size: 14px; }
  .features {
    max-height: 3000px;
    margin-bottom: 30px; }
    .features .row .col-xs-12 p {
      width: 250px;
      margin: auto; }
  .gallery .col-xs-6 div:hover {
    display: none; }
  .team .col-xs-12 {
    margin-bottom: 40px;
    text-align: center; }
    .team .col-xs-12 p {
      width: 270px;
      margin: 0 auto 20px auto; }
    .team .col-xs-12 img {
      margin: auto; }
    .team .col-xs-12 div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
  .carousel {
    margin-top: 30px; }
    .carousel .row .col-xs-12 {
      margin-top: 0;
      height: 50vh; }
      .carousel .row .col-xs-12 img {
        height: 50vh; }
      .carousel .row .col-xs-12 p {
        font-size: 15px;
        margin-left: 0; }
      .carousel .row .col-xs-12 h6 {
        font-size: 9px;
        margin-left: 0; }
  .download {
    text-align: center;
    font-size: 12px; }
  .share .col-xs-12 {
    padding-bottom: 20px; } }

@media screen and (max-width: 479px) {
  header {
    padding-bottom: 170px; }
    header nav .col-xs-12 {
      text-align: center; }
      header nav .col-xs-12 ul {
        margin-left: 0;
        margin-bottom: 0px; }
        header nav .col-xs-12 ul li {
          display: block;
          width: 100%;
          margin-left: 0;
          padding: 20px;
          cursor: pointer; }
          header nav .col-xs-12 ul li:hover {
            background-color: rgba(0, 0, 0, 0.1); }
    header .col-xs-12 h1 {
      font-size: 24px; }
    header .col-xs-12 p {
      font-size: 14px; }
  .features {
    max-height: 3000px;
    margin-bottom: 30px; }
    .features .row .col-xs-12 p {
      width: 250px;
      margin: auto; }
  .gallery .col-us-12 {
    width: 100%; }
    .gallery .col-us-12 div:hover {
      display: none; }
  .team .col-xs-12 {
    margin-bottom: 40px;
    text-align: center; }
    .team .col-xs-12 p {
      width: 270px;
      margin: 0 auto 20px auto; }
    .team .col-xs-12 img {
      margin: auto; }
    .team .col-xs-12 div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
  .carousel {
    margin-top: 30px; }
    .carousel .row .col-xs-12 {
      margin-top: 0;
      height: 50vh; }
      .carousel .row .col-xs-12 img {
        height: 50vh; }
      .carousel .row .col-xs-12 p {
        font-size: 15px;
        margin-left: 0; }
      .carousel .row .col-xs-12 h6 {
        font-size: 9px;
        margin-left: 0; }
  .download {
    text-align: center;
    font-size: 12px; }
  .share .col-xs-12 {
    padding-bottom: 20px; } }
